.landing-page {
  height: 100vh;
  max-width: 100vw;
  background-image: url("../../assets/Rectangle1.jpg");
  background-repeat: no-repeat;
  position: relative;
}

.skewed-image {
  padding-right: 40px;
}
.skewed-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.left-section {
  padding-left: 60px;
  padding-top: 60px;
  height: 100%;
}

.left-section .heading {
  font-size: 30px;
  font-weight: 500;
  color: var(--secondary-color);
}

.heading span {
  color: var(--primary-color);
}

.left-section-form {
  height: 200px;
  width: 100%;
}

.left-section-form .input-div {
  background: #ffffff;
  padding: 10px;
  width: 370px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 2px solid var(--border-color);
}
.input-div .MuiSvgIcon-root {
  opacity: var(--opacity);
  margin-right: 10px;
}

.input-div input {
  background: transparent;
  outline: none;
  border: none;
}

.input-div input::placeholder {
  opacity: var(--opacity);
}

@media only screen and (max-width: 600px) {
  .landing-page {
    flex-direction: column-reverse;
    margin-top: 60px;
  }

  .left-section {
    padding: 0;
    justify-content: center;
  }
  .skewed-image {
    width: 350px;
    padding: 0;
  }

  .left-section .heading {
    text-align: center;
    width: 100%;
    margin-top: 50px;
    font-size: 25px;
  }

  .left-section .paragraph {
    padding: 0 20px;
    margin: 20px 0;
    text-align: center;
  }
}
