.header {
  padding: 10px 40px;
  width: 100vw;
  height: 90px;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu .MuiSvgIcon-root {
  color: #00a9fa;
  font-size: 30px;
}

.header .links {
  margin-left: auto;
  display: flex;
}

.links a {
  text-decoration: none;
}

.links a {
  transition: 0.4s;
  font-size: 18px;
  font-weight: 500;
  width: 200px;
  text-align: center;
}

.links .signin-btn {
  color: #00a9fa;
  margin-top: 7px;
  text-align: right;
  padding-right: 40px;
}

.links .signin-btn:hover {
  color: rgba(0, 0, 0, 0.8);
}

.links .home-btn {
  background: hsl(199, 76%, 50%);
  color: white;
  padding: 7px 0px;
  border-radius: 100px;
  box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.15);
  border: 2px solid transparent;
}

.links .home-btn:hover {
  color: hsl(199, 76%, 50%);
  background: transparent;
  border: 2px solid hsl(199, 76%, 50%);
}

@media only screen and (max-width: 600px) {
  .header .links {
    display: none;
  }
  .hamburger-menu {
    display: block;
    margin-left: auto;
  }
}
