.custom-form {
  width: 60%;
  margin-bottom: 100px;
}

.custom-form .input-div {
  background: #ffffff;
  padding: 10px;
  min-width: 370px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 2px solid var(--border-color);
  border-radius: 5px;
}
.input-div .MuiSvgIcon-root {
  opacity: var(--opacity);
  margin-right: 10px;
}

.input-div input {
  background: transparent;
  outline: none;
  border: none;
  width: 90%;
}

.input-div input::placeholder {
  opacity: var(--opacity);
}

.custom-form .custom-btn {
  background: var(--btn-color);
  color: white;
  font-size: 17px;
  text-align: center;
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 30px;
  border: 2px solid transparent;
  transition: var(--transition-time);
}

.custom-form .custom-btn:hover {
  color: var(--btn-color);
  background: transparent;
  border: 2px solid var(--btn-color);
}

@media only screen and (max-width: 600px) {
  .custom-form {
    width: 100%;
    align-items: center !important;
    margin-bottom: 60px;
  }

  .custom-form .input-div {
    border: 2px solid var(--border-color);
  }
}

@media only screen and (max-width: 400px) {
  .custom-form .input-div {
    min-width: 100px;
  }
}
