.left-section-form {
  width: 60%;
}

.left-section-form .input-div {
  background: #ffffff;
  padding: 10px;
  width: 370px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 2px solid #0a9fe44a;
}
.input-div .MuiSvgIcon-root {
  opacity: 0.7;
  margin-right: 10px;
}

.input-div input {
  background: transparent;
  outline: none;
  border: none;
}

.input-div input::placeholder {
  opacity: 0.5;
}

.left-section-form .custom-btn {
  background: #0a9fe4;
  color: white;
  font-size: 17px;
  text-align: center;
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 30px;
}

.custom-btn:hover {
  color: white;
}
